/* Merriweather */
/* Cinzel 900 */
/* Josefin Sans 100 */

@import 'https://fonts.googleapis.com/css?family=Poppins:700';
/*@import 'https://fonts.googleapis.com/css?family=Josefin+Sans:100';
@import 'https://fonts.googleapis.com/css?family=Cinzel:900';*/
@import 'https://fonts.googleapis.com/css?family=Open+Sans:800';
/*@import 'https://fonts.googleapis.com/css?family=Gentium+Book+Basic:400italic';*/
@import 'https://fonts.googleapis.com/css?family=Playfair+Display:400italic';
/*@import 'https://fonts.googleapis.com/css?family=Abril+Fatface:400';
@import 'https://fonts.googleapis.com/css?family=Lato:400';*/

html, body {
  height: 100%;
}

body {
  margin: 0;
  text-align: center;
  background-color: #000000;
}

h1 {
  margin: 0;
}

.stranger-things {
  background-color: #e50914;
  background: url('img/stranger-things.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.stranger-things h1 {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  /*font-family: 'Poppins', sans-serif;*/
  font-weight: 800;
  /*font-weight: 700;*/
  font-size: 7vw;
  text-transform: uppercase;
  /*line-height: 8vw;*/
}

.stranger-things h1 i {
  font-family: 'Playfair Display', serif;
  font-size: 6vw;
  font-style: italic;
  text-transform: none;
  font-weight: 400;
}

/*h1 {
  color: #000000;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 100;
  font-family: 'Cinzel', sans-serif;
  font-weight: 900;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-family: 'Abril Fatface', sans-serif;
  font-weight: 400;
  font-size: 400%;
  font-size: 7vw;
  text-transform: uppercase;
  line-height: 8vw;
}*/
